.content-card-tag{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
.imgs {
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 